.form-signin{
    width: 400px;
    height: 150px;
    left: 50%;
    margin: -130px 0 0 -210px;
    padding: 10px;
    position: absolute;
    top: 50%;
}

h2{
    text-align: center;
}

.column{
    height: 100vh;
    background-color: #999999;
}

.position{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
}