html, body{
    margin: 0;
    padding: 0;
}

.form-signin{
    width: 400px;
    height: 150px;
    left: 50%;
    margin: -130px 0 0 -210px;
    padding: 10px;
    position: absolute;
    top: 50%;
}

h2{
    text-align: center;
}

.column{
    height: 100vh;
    background-color: #3D3D3D;
}

.profile-picture{
    height: 30%;
    padding: 0;
    margin: 0;
}

.profile-info{
    height: 70%;
    padding: 0px;
    margin: 0px;
}

.position{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;

}

.padding-none{
    padding: 0%;
}

ol {
    padding-left: 10px;
    list-style-type: none;
}

ol li {
    position: relative;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 20px;
}

li p {
    font: 12px/1.5 Helvetica, sans-serif;
    padding-left: 60px;
    color: #999D9D;
}

span {
    position: absolute;
}

#map {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}