@import api_service.models.Ride
@import java.util.ArrayList

@(user: api_service.models.User, myrides:ArrayList[Ride], departrides:ArrayList[Ride], returnrides:ArrayList[Ride] )


@if(user != null){
    @main("VamoJunto!"){

        <!-- NOTE: This is only a first draft, a lot in this file will change, including the way we add the map -->
        <div class="container-fluid">
            <div class="row">

                <!-- Left column -->
                <div class="col-md-2 column" style="padding: 0px">

                    <!-- User profile picture -->
                    <div class="container-fluid profile-picture" style="padding: 0px">
                        <img src="@routes.Assets.versioned("images/biscoito.png")"
                        class="img-circle img-responsive center-block"
                        width="200" height="300"/>
                    </div>

                    <div container-fluid style="padding: 0px">
                        <p class="message">Bem vindo @user.getName()</p>
                        <a href="/list_rides">List rides</a>
                        <a href="/logout">Logout</a>
                    </div>

                    <!-- User rides -->
                    <div class="container-fluid profile-info" style="padding: 0px">
                         <nav class="nav navbar-inverse">
                            <div class="container" style="width: inherit">
                                <p class="navbar-text center-text"><strong>Minhas viagens</strong></p>
                            </div>
                         </nav>

                        <div>
                            <ul style="color: #999D9D;padding-top: 15px">
                            @for(ride <- myrides) {
                                <li>@ride.getFinalAddress()</li>
                            }
                            </ul>
                        </div>
                    </div>


                </div>

                <!-- Right column -->
                <div class="col-md-10 column container-fluid" style="padding: 0px; position: relative">

                    <!-- Map -->
                    <div id="map" style="position: absolute;">

                    </div>

                    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                    async defer></script>

                    <style>
                        #floating-list{
                            position: absolute;
                            margin-left: 80%;
                            top: 2%;
                            height: 250px;
                            width: 250px;
                            background-color: #3D3D3D;

                        }
                    </style>
                    <div class="container-fluid" id="floating-list" style="padding: 0">
                        <nav class="nav navbar-inverse">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a href="#" class="navbar-brand">Notificações</a>
                                </div>
                            </div>
                        </nav>
                        <div>
                            <h4 style="padding-top: 15px; padding-left: 10px; color: #999D9D;">Caronas da Ida</h4>
                                <ul style="color: #999D9D;padding-top: 15px">
                                     @for(ride <- returnrides) {
                                         <li>@ride</li>
                                     }
                                </ul>

                            <h4 style="padding-top: 15px; padding-left: 10px; color: #999D9D;">Caronas da Volta</h4>
                                <ul style="color: #999D9D;padding-top: 15px">
                                    @for(ride <- returnrides) {
                                        <li>@ride</li>
                                    }
                                </ul>

                        </div>

                    </div>

                    <style>
                        #floating-button{
                            position: absolute;
                            margin-left: 80%;
                            top: 90%;
                            white-space: normal;
                        }
                    </style>
                    <div class="container-fluid" >
                        <button type="button" id="floating-button" class="btn btn-primary btn-lg"><strong>Nova viagem</strong></button>
                    </div>
                </div>
            </div>
        </div>
    }
}else{
    redirect(routes.ViewController.index());   
}