@import api_service.models.Ride
@import api_service.models.Solicitation
@import java.util.ArrayList

@(user: api_service.models.User, myrides:ArrayList[Ride], departrides:ArrayList[Ride], returnrides:ArrayList[Ride], mysolicitations: ArrayList[Solicitation] )


@if(user != null){
    @main("VamoJunto!"){

        <!-- NOTE: This is only a first draft, a lot in this file will change, including the way we add the map -->
        <div class="container-fluid">
            <div class="row">

                <!-- Left column -->
                <div class="col-md-2 column" style="padding: 0px">

                    <!-- User profile picture -->
                    <div class="container-fluid profile-picture" style="padding: 0px">
                        <img src="@routes.Assets.versioned("images/biscoito.png")"
                        class="img-circle img-responsive center-block"
                        width="200" height="300"/>
                    </div>

                    <p class="message">Bem vindo @user.getName()</p>
                    <a href="/list_rides">List rides</a>
                    <a href="/logout">Logout</a>

                    <!-- User rides -->


                    <!-- TABS -->
                    <div class="container-fluid" style="padding: 0px">
                        <ul class="nav nav-pills">
                            <li class="nav active">
                                <a href="#A" style="border-radius: 0px" data-toggle="tab">Minhas viagens</a>
                            </li>
                            <li class="nav">
                                <a href="#B" style="border-radius: 0px" data-toggle="tab">Solicitações</a>                                    
                            </li>
                        </ul>

                        <div>
                            <div class="tab-content clearfix">
                                @if(myrides.size() == 0){
                                    <div class="tab-pane fade in active" id="A">Você ainda não possui viagens</div>
                                }else{
                                    @for(ride <- myrides) {
                                        <div class="tab-pane fade in active" id="A">@ride.getFinalAddress()</div>
                                    }
                                }

                                @if(mysolicitations.size() == 0){
                                    <div class="tab-pane fade" id="B">Você ainda não possui nenhuma solicitação de carona</div>
                                }else{
                                    @for(solic <- mysolicitations) {
                                        <div class="tab-pane fade" id="B">@solic.getDisplayInfo()</div>
                                    }
                                }
                                                           
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Right column -->
                <div class="col-md-10 column container-fluid" style="padding: 0px; position: relative">

                    <!-- Map -->
                    <div id="map" style="position: absolute;">

                    </div>

                    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                    async defer></script>

                    <style>
                        #floating-list{
                            position: absolute;
                            margin-left: 80%;
                            top: 2%;
                            height: 250px;
                            width: 250px;
                            background-color: #3D3D3D;

                        }
                    </style>
                    <div class="container-fluid" id="floating-list" style="padding: 0">
                        <nav class="nav navbar-inverse">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a href="#" class="navbar-brand">Notificações</a>
                                </div>
                            </div>
                        </nav>
                        <div>
                            <h4 style="padding-top: 15px; padding-left: 10px; color: #999D9D;">Caronas da Ida</h4>

                            <div class="list-group">
                                @for(ride <- departrides){
                                    <div class="col-md-9">
                                        <a class="list-group-item">
                                                <p class="list-group-item-text">Motorista: @ride.getDriver()</p>
                                                <p class="list-group-item-text">Telefone: @ride.getDriverPhone()</p>
                                        </a>
                                    </div>

                                    <div class="col-md-3">
                                        <form action="/request_ride" method="POST">
                                            <input name="driver" type="hidden" value="@ride.getDriver()"></input>
                                            <input name="passenger" type="hidden" value="@user.getSchoolId()"></input>
                                            <input name="ride_id" type="hidden" value="@ride.getRideId()"></input>
                                            <button type="submit">
                                                <img alt="Pedir carona!" 
                                                    src='@routes.Assets.versioned("images/request_a_ride.png")' width="25" height="25">
                                                </img>
                                            </button>
                                        </form>
                                    </div>
                                }
                            </div>
<!--                                 <ul style="color: #999D9D;padding-top: 15px">
                                     @for(ride <- departrides) {
                                         <li>@ride</li>
                                     }
                                </ul> -->

                            <h4 style="padding-top: 15px; padding-left: 10px; color: #999D9D;">Caronas da Volta</h4>
                            <div class="list-group">
                                @for(ride <- returnrides){
                                    <div class="col-md-9">
                                        <a class="list-group-item">
                                                <p class="list-group-item-text">Motorista: @ride.getDriver()</p>
                                                <p class="list-group-item-text">Telefone: @ride.getDriverPhone()</p>
                                        </a>
                                    </div>

                                    <div class="col-md-3">
                                        <form action="/request_ride" method="POST">
                                            <input name="driver" type="hidden" value="@ride.getDriver()"></input>
                                            <input name="passenger" type="hidden" value="@user.getSchoolId()"></input>
                                            <input name="ride_id" type="hidden" value="@ride.getRideId()"></input>
                                            <button type="submit">
                                                <img alt="Pedir carona!" 
                                                    src='@routes.Assets.versioned("images/request_a_ride.png")' width="25" height="25">
                                                </img>
                                            </button>
                                        </form>
                                    </div>
                                }
                            </div>
<!--                                 <ul style="color: #999D9D;padding-top: 15px">
                                    @for(ride <- returnrides) {
                                        <li>@ride</li>
                                    }
                                </ul>
 -->
                        </div>

                    </div>

                    <style>
                        #floating-button{
                            position: absolute;
                            margin-left: 80%;
                            top: 90%;
                            white-space: normal;
                        }
                    </style>
                    <div class="container-fluid" >
                        <button type="button" id="floating-button" class="btn btn-primary btn-lg"><strong>Nova viagem</strong></button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    }
}else{
    redirect(routes.ViewController.index());   
}