@main("Cadastre-se") {

    <div class="login-page">
        <h2>Bem vindo à VamoJunto!</h2>
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="Nome" required autofocus>
                <input type="email" placeholder="Email" required autofocus>
                <input type="text" placeholder="Matrícula"/>
                <input type="password" placeholder="Senha"/>
                <input type="password" placeholder="Repita sua senha"/>

                <p class="message">Para motoristas:</p>
                <input type="number" placeholder="Número de vagas no seu veículo" required autofocus>
                <input type="text" placeholder="Bairro" required autofocus>
                <input type="text" placeholder="Rua" required autofocus>
                <button>Cadastrar</button>
                <p class="message">Já se cadastrou? <a href="/">Entrar</a></p>
            </form>
        </div>
    </div>
}