@(reverseRoute: play.api.mvc.Call, schoolIdField: Field, passwordField: Field)

<div class="row">
    <div class="login-page">
        <h2>Bem vindo ao VamoJunto!</h2>

        <div class="form">
                @helper.form(reverseRoute, 'role -> "form") {
                    <fieldset>
                        <div class="form-group @if(schoolIdField.hasErrors) {has-error}" >
                            <input id="@schoolIdField.id" name="@schoolIdField.name"
                                value="@schoolIdField.value.getOrElse("")"
                                placeholder="Matrícula" type="text" required autofocus
                                style="margin: 0">
                        </div>
                        <div class="form-group @if(passwordField.hasErrors) {has-error}" >
                            <input id="@passwordField.id" name="@passwordField.name"
                                value="@passwordField.value.getOrElse("")"
                                placeholder="Senha" type="password" required
                                style="margin: 0">
                        </div>

                        <button type="submit">Login</button>
                        <p class="message">Ainda não se cadastrou? <a href="/register">Crie uma conta!</a></p>
                    </fieldset>
                }
                @if(flash.containsKey("error")) {
                    <div id="error-message" class="text-danger">
                    @flash.get("error")
                    </div>
                }
        </div>
    </div>
</div>