@(system: String)(playVersion: String)

<html>
    <head>
        <title>@system</title>
        <link href="@routes.Assets.versioned("bootstrap-3.3.6-dist/css/bootstrap.min.css")" rel="stylesheet" media="screen"/>
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" media="screen" />
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image.png"/>

        <script
            src = "@routes.Assets.versioned("bootstrap-3.3.6-dist/js/bootstrap.min.js")"
            type = "text/javascript"
        >
        </script>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                </ul>

                <h3 class="text-muted">@system</h3>
            </div>

            <div class="jumbotron">
                <p>
                    <a class="btn btn-lg btn-success" href="#">Powered by Play Framework @playVersion</a>
                </p>
            </div>
        </div>
    </body>
</html>