@(tokenMessage: String)

@main("VamoJunto!"){

    <div class="login-page">

        @if(tokenMessage != null) {
            <div class="alert alert-warning">
                <strong>Warning!</strong> @tokenMessage
            </div>
        }

        <h2>@Messages("global.welcome")</h2>
        <div class="form">
            <a href="/login"><button>@Messages("home.sign_in")</button></a>
			<p class="message">@Messages("global.not_signed_up") <a href="/register">@Messages("global.create_account")</a></p>
			<p></p>
			<a href="/pt_BR"><img src="@routes.Assets.versioned("images/pt_BR.png")" width="35" height="35"/>
			<a href="/en_US"><img src="@routes.Assets.versioned("images/en_US.png")" width="35" height="35"/>
        </div>
    </div>
}