@main("VamoJunto!"){

    <div class="login-page">
        <h2>Bem vindo ao VamoJunto!</h2>
        <div class="form">

            <form class="login-form" action="/login_user" method="post">
                <input name="school_id" type="text" placeholder="Matrícula" required autofocus>
                <input name="password" type="password" placeholder="Senha" required/>
                <button type="submit">Login</button>
                <p class="message">Ainda não se cadastrou? <a href="/register">Crie uma conta!</a></p>
            </form>
        </div>
    </div>
}