@(tokenMessage: String)

@main("VamoJunto!"){

    <div class="login-page">

        @if(tokenMessage != null) {
            <div class="alert alert-warning">
                <strong>Warning!</strong> @tokenMessage
            </div>
        }

        <h2>@Messages("global.welcome")</h2>
        <div class="form">
            <a href="/login"><button>@Messages("home.sign_in")</button></a>
			<p class="message">@Messages("global.not_signed_up") <a href="/register">@Messages("global.create_account")</a></p>
			<p class="message">@Messages("home.language") <a href="language?id=1">@Messages("home.language.pt_br")</a> | <a href="language?id=2">@Messages("home.language.en_us")</a></p>
        </div>
    </div>
}